h1 {
    font-size: 56px;
    color: white;
}

p {
    font-size: 16px;
    color: NAVY BLUE;
}

h3 {
    font-size: 24px;
    color: NAVY BLUE;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}


.hero-button {
    background-color: white;

}

button {
    background-color: red;
}

.btn{
    background-color: white;
}

